<html!doctype>
<head>
<script src = "scripts/angular.min.js"></script>
<script src = "scripts/abc.js"></script>
<link rel="stylesheet" type="text/css" href="css/style.css"
</head>
<body>
<div ng-app = "testapp">
	<div ng-controller = "calculator">
		<div class="box">
			<div class="display"><input type="text" readonly size="18" ng-model="d"></div>
    				<p><input type="button" class="button gray" value="mrc">
    				<input type="button" class="button gray" value="m-" onclick="c('')">
    				<input type="button" class="button gray" value="m+" onclick="c('')">
    				<input type="button" class="button pink" value="/" ng-click="operation(operation_keys[3].func)"></p>
    				<p><input type="button" class="button black" value="7" ng-click="display(7)">
				<input type="button" class="button black" value="8" ng-click="display(8)">
    				<input type="button" class="button black" value="9" ng-click="display(9)">
				<input type="button" class="button pink" value="*" ng-click="operation(operation_keys[2].func)"></p>
    				<p><input type="button" class="button black" value="4" ng-click="display(4)">
				<input type="button" class="button black" value="5" ng-click="display(5)">
    				<input type="button" class="button black" value="6" ng-click="display(6)">
				<input type="button" class="button pink" value="-" ng-click="operation(operation_keys[1].func)"></p>
    				<p><input type="button" class="button black" value="1" ng-click="display(1)">
				<input type="button" class="button black" value="2" ng-click="display(2)">
    				<input type="button" class="button black" value="3" ng-click="display(3)">
				<input type="button" class="button pink" value="+" ng-click="operation(operation_keys[0].func)"></p>
    				<p><input type="button" class="button black" value="0" ng-click="display(0)">
				<input type="button" class="button black" value="." ng-click="display()">
    				<input type="button" class="button black" value="C" onclick="c('')">
				<input type="button" class="button orange" value="=" ng-click="calc()"></p>
			</div>
		</div>
	</div>
</div>
</body>
</html>